<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
</head>
<body>
  <%- include("partials/header"); -%>
  <div class="container d-flex flex-column align-items-center justify-content-center col text-center"
    style="min-height: 100vh;">
    <% if (locals.success) { %>
      <h1 class="fs-1 my-3">Document saved successfully 😎</h1>
      <% } else { %>
        <h1 class="fs-1 my-3">Error saving file! 😒</h1>
        <% } %>
          <div class="container d-flex align-items-center justify-content-center my-3">
            <a href="/create-quiz"
              class="text-decoration-none  btn btn-dark fs-2 col-4 mx-3 d-flex justify-content-center align-items-center"
              style="min-height: 10vh;">Create another quiz</a>
            <a href="/"
              class="text-decoration-none  btn btn-dark fs-2 col-4 mx-3 d-flex justify-content-center align-items-center"
              style="min-height: 10vh;">Return to home</a>
          </div>
  </div>

  <!-- <script src="js/createQuiz.js"></script> -->
</body>
</html>