<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="css/quiz.css">
  <script src="js/quiz.js" defer></script>
  
</head>
<body>
    
  <!-- Navbar ends here -->
  <div class="quiz-container">
    <div id="question-container">
      <h4 id="question">Question</h4>
      <div id="answer-buttons"></div>
    </div>
  <button id="next-btn" class="btn hide">Next</button>
  <div id="result" class="hide"></div>
  <button id="restart-btn" class="btn hide">Restart</button>
  </div>

  <a href="/" id="home-btn">Back to Home</a> 

  <!-- Footer starts here -->
  
</body>
</html>